body{
    font-family: 'Rajdhani', sans-serif;
    max-width: 100%;
}



/* Header */

.page-header {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-top: 25px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 70px;
    user-select: none;


}

.header-bg {
    background: url("/imgs/bg1.jpg") no-repeat;
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

.navbar {
    margin: 0px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navlist {
    display: flex;
    flex-direction: row;
}

.navitens {
    margin-right: 45px;
    padding-bottom: 15px;
}

.navitens:hover {
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    color: #0f3479;
}

.navitens>.down-arrow {
    font-size: 15px;
}

.dropdown-list {
    text-align: justify;
    background-color: white;
    margin-top: 10px;
    padding: 2px 25px 10px 10px;
    color: #0f3479;
    border-radius: 0px 5px 5px 5px;
}

.dropdown-item {
    padding: 5px 0px 0.3px 0px;
}

.dropdown-item:hover {
    border-bottom: 1px solid #0f3479;
}

.dp-1 {
    position: absolute;
}

.dp-2 {
    position: absolute;
}

.dp-3 {
    position: absolute;
}

.hidden {
    display: none;
}

.btn1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px 18px;
    border-radius: 20px;
    text-decoration: none;
    transition: 300ms ;
    user-select: none;

}

.btn1:hover {

    background-color: white;
    color: #0f3479;
    transition: 500ms;

}

.btn2 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px 18px;

    background-color: white;
    color: #0f3479;
    border-radius: 20px;
    text-decoration: none;
}

.btn3 {
    color: white;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px 18px;
    border-radius: 20px;
    text-decoration: none;

}

.header-content{
    align-self: center;
    text-align: center;
    margin-top: 130px;

}

.header-title {
    font-size: 65px;
    font-weight: 500;
}

.header-subtitle {
    font-size: 20px;
    margin-top: 25px;
}

.btn-container-content {
    margin-top: 25px;
}

/* Top Container */

.container {
    width: 100%;
}

.top-container {
    margin: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.top-title {
    font-size: 45px;
    font-weight: 500;
    color: #122a57;
    margin: 10px 0px 50px 0px;
}

.top-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.top-text-content {
    max-width: 40%;
    text-align:left;
}

.top-image img {
    max-width: 550px;
}

.text-top-1 {
    margin: 15px 0px 25px 0px;
}

.text-top-2 {
    margin: 15px 0px 25px 0px;
}

.text-title {
    font-size: 30px;
    font-weight: 600;
    color: #122a57;
    padding-bottom: 25px;
}

.text-body{
    line-height: 25px;
}

/* MID */

.mid-container {
    width: 100%;
    border-radius: 0px 70px 0px 70px;
    margin: 60px 0 75px 0;
    padding: 35px 0px;
}

.mid-bg {
    background-color: rgb(36, 34, 41);
}

.mid-content {
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-title {
    padding-bottom: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.right-title {
    padding-bottom: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.text-left {
    color: rgb(199, 196, 196);
    width: 40%;
    font-size: 22px;
    text-align: left;
}
.text-right {
    color: rgb(199, 196, 196);
    width: 40%;
    font-size: 22px;
    text-align: left;
}

.left-body {
    line-height: 31px;
}
.right-body {
    line-height: 31px;
}

/* Bot */

.bot-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 55px 0px 125px 0px;
    font-size: 18px;
    line-height: 25px;
}

.bot-img img {
    max-width: 570px;
}

.bot-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px 25px 0px;
}

.bot-title-1 {
    font-size: 30px;
    font-weight: 600;
    color: #122a57;
    padding-bottom: 25px;
}
.bot-title-2 {
    font-size: 30px;
    font-weight: 600;
    color: #122a57;
    padding-bottom: 25px;
}

.bot-body-1 {
    padding-bottom: 25px;
    text-align: justify;
}
.bot-body-2 {
    padding-bottom: 25px;
    text-align: justify;
}

/* Footer */

.page-footer {
    color: white;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top-right-radius: 70px;
    user-select: none;
}

.footer-bg {
    background-color: rgb(22, 21, 27);
}

.list-title{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.footer-list-itens {
    color: rgb(138, 135, 135);
    padding-bottom: 20px;

}

.footer-list-itens a {
    text-decoration: none;
    color: rgb(138, 135, 135);
}